In [1]:
import numpy as np
import pandas as pd
import json
import requests
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
url = 'https://keralarescue.in/data/'
data = requests.get(url)
data = json.loads(data.text)

In [3]:
df = pd.DataFrame(data)

In [4]:
df.shape

(7807, 26)

In [7]:
df.to_csv('C:/Users/Darshik/Desktop/graph.csv')

In [47]:
df['district'].value_counts()

ekm    2680
ptm    1490
alp    1391
tcr    1175
idk      50
tvm      27
ktm      27
kol      22
mpm      21
koz      15
pkd      13
knr       6
wnd       5
ksr       5
Name: district, dtype: int64

In [48]:
import plotly.plotly as py
import plotly.graph_objs as go
py.sign_in(username='d4rshik', api_key='kkAfh9cMnb5NdljPyERg')
data = [
    go.Bar(
        x=df['district'].unique(), # assign x as the dataframe column 'x'
        y=df['district'].value_counts()
    )
]
py.iplot(data, filename='pandas-bar-chart')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~d4rshik/0 or inside your plot.ly account where it is named 'pandas-bar-chart'

In [49]:
df_new = df.groupby('district')

In [50]:
#district wise
df_new['needmed'].sum()

district
alp     98.0
ekm    159.0
idk      5.0
knr      0.0
kol      5.0
koz      2.0
ksr      1.0
ktm      0.0
mpm      1.0
pkd      1.0
ptm    143.0
tcr     70.0
tvm      3.0
wnd      2.0
Name: needmed, dtype: float64

In [51]:
df.loc[df['district']=='wnd']

,dateadded,detailcloth,detailfood,detailkit_util,detailmed,detailrescue,detailtoilet,detailwater,district,id,...,needkit_util,needmed,needothers,needrescue,needtoilet,needwater,requestee,requestee_phone,status,supply_details
156,2018-08-16T11:19:33.882Z,,,,tegritol CR 400,,,,wnd,7591,...,False,True,,False,False,False,Abhilash As,9747681068,new,
170,2018-08-16T11:28:05.770Z,,,,,,,,wnd,7651,...,True,True,,False,True,True,Sharvan,9790140045,new,
405,2018-08-16T13:36:21.667Z,,,,,11 people stuck,,,wnd,8664,...,False,False,,True,False,False,Pinky Paul,9446905202,new,
2299,2018-08-16T18:54:17.453Z,,,,,,,,wnd,13365,...,False,False,,True,False,False,03 FAMILIES,7736273343,new,
5259,2018-08-17T08:42:21.169Z,,,,,,,,wnd,21187,...,False,False,,True,False,False,pramod,9895680074,new,

In [52]:
df_new['needwater'].sum()

district
alp    371.0
ekm    656.0
idk      4.0
knr      1.0
kol      6.0
koz      1.0
ksr      2.0
ktm      6.0
mpm      4.0
pkd      2.0
ptm    415.0
tcr    239.0
tvm     10.0
wnd      1.0
Name: needwater, dtype: float64

In [53]:
df_new['needtoilet'].sum()

district
alp    47.0
ekm    79.0
idk     2.0
knr     0.0
kol     5.0
koz     2.0
ksr     1.0
ktm     0.0
mpm     5.0
pkd     0.0
ptm    55.0
tcr    36.0
tvm     2.0
wnd     1.0
Name: needtoilet, dtype: float64

In [54]:
labels = df['district'].unique()
values = df_new['needkit_util'].sum()

trace = go.Pie(labels=labels, values=values)

py.iplot([trace], filename='basic_pie_chart')

In [55]:
c = df['latlng']

In [56]:
s = str(c[3])

In [57]:
s.split(',')

['10.3470498', '76.2086201']

In [92]:
lt=[]
lg=[]
for i in c:
    l=str(i).split(',')
    if len(l) == 2:
      lt.append(l[0])
      lg.append(l[1])

In [93]:
exlt = []
exlg  = []
def floatif(a):
    try:
        float(a)
    except ValueError:
        return False

In [102]:
ult = []
ulg = []
for i,j in zip(lt, lg):
    if floatif(i) != False and floatif(j) != False:
        ult.append(float(i))
        ulg.append(float(j))

In [103]:
frame = pd.DataFrame(ult,ulg)
print(frame)
fil = frame.to_csv('C:/Users/Darshik/Desktop/darshik/udacity/graph.csv')

                   0
76.323020  10.002130
76.644701  10.720816
77.155886   9.737042
76.208620  10.347050
76.881062   8.556531
76.537084   9.338959
54.615506  24.317082
76.323385  10.335560
75.414174  11.986699
76.333252  10.034178
75.734802  11.391984
76.580498   9.334115
76.271083  10.850516
12.520080  55.785551
77.296089  28.545661
47.986255  29.378995
50.576963  26.234136
50.577146  26.233808
80.216064  13.049856
75.414174  11.986699
76.088165  11.047609
77.601997  12.962202
76.689997   9.347870
55.383746  25.265404
76.318364  10.176053
76.435687  10.075659
75.414174  11.986699
76.288544  10.062263
76.364280   9.382473
76.943676   8.518463
...              ...
76.344915  10.291780
76.161924  10.828255
73.538765   4.213146
76.405068   9.443897
76.611085   9.318327
76.355420   9.204240
76.278020  10.043492
76.602185   9.345429
39.168330  21.558632
76.230971  10.142538
76.585708   9.350533
76.578477   9.336828
73.030439  18.975467
76.271083  10.850516
76.232669  10.167437
76.291905  10.104048
76.417543   9.415557
76.785555   9.386569
0.456092   51.568674
76.318360  10.176042
76.358834  10.105065
76.267011  10.149727
76.326099  10.108986
76.152288  10.457511
76.356476  10.122117
76.577720   9.326921
76.567065   9.372431
76.614995   9.246593
76.209358  10.156057
76.611878   9.269940

[6379 rows x 1 columns]